- Given the below head of a table called salesman, write a SQL statement that counts the number of salesmen for whom a city is specified. 
- Note that there may be spaces or no spaces in the city column if no city is specified. Might be null or spaces.

In [17]:
print("COUNT(DISTINCT salesman_id) AS SalesmanCount \n FROM salesman \n WHERE City IS NOT NULL \n AND ISNULL(NULLIF(TRIM(City),'')) = TRUE \n GROUP BY City")

COUNT(DISTINCT salesman_id) AS SalesmanCount
 FROM salesman
 WHERE City IS NOT NULL
 AND ISNULL(NULLIF(TRIM(City),'')) = TRUE
 GROUP BY City