Let's run a t-test to determine if there are differences between cars built between 1970-1976 and 1977-1982.

In [11]:
import pandas as pd
import scipy.stats as stats

1. Read in the data

In [4]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data', sep = '\s+',
                 names = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 
                     'model_year', 'origin', 'car_name'])

In [8]:
df.head(3)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite

2. Perform a t-test to determine whether cars built before 1977 have a different mean number of cylinders than cars built from 1977 onward (use a t-test from scipy.stats)

In [10]:
df['before_77'] = df.model_year.apply(lambda x: x < 77)
df['after_77'] = df.model_year.apply(lambda x: x >= 77)
df.head(3)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name,before_77,after_77
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu,True,False
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320,True,False
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite,True,False

In [15]:
result = stats.ttest_ind(df.cylinders.loc[df.before_77 == True], df.cylinders.loc[df.after_77 == True], equal_var = False)

3. What is your t-statistic and p-value, and what do they mean?
4. What can you conclude about the differences in number of cylinders about cars built before 1977 vs after?

In [19]:
print(f"T-statistic is: {result[0]}")
print(f"p-value is: {result[1]}")
# T-stat = 5.864
# p-value = 9.544 e-09
# Reject the null that the avg number of cylinders is the same among both groups.
# Conclusion: Cars before and after 1977 are statistically different in cylinder count.

T-statistic is: 5.863953901028685
p-value is: 9.543501144274884e-09