<h1 style='text-align: center'>SQL Queries</h1>

## Getting Data From A SQL Database

### The Structure of a SQL Query

<img src='images/sql_statement.jpg'/>

#### GROUP BY

- Group columns by similar values
- SELECT COUNT(id), city from students GROUP BY city

#### HAVING

- Use to apply filter AFTER a `GROUP BY` based on aggregate criteria 
- `WHERE` is applied for conditions prior to the `GROUP BY`, `HAVING` is applied afterwards

For example, if we had a table of student names and the courses they were taking, we could ask a question such as which classes have 3 or more students with the name Matt?

Such a query would look something like this:

```SQL
SELECT
  class,
  COUNT(student_name) AS number_of_alexes
FROM student_courses
WHERE student_name = "Alex"
GROUP BY 1
HAVING COUNT(student_name) >= 2;
```

In [4]:
!pip install PyMySQL

Collecting PyMySQL
  Downloading https://files.pythonhosted.org/packages/ed/39/15045ae46f2a123019aa968dfcba0396c161c20f855f11dea6796bcaae95/PyMySQL-0.9.3-py2.py3-none-any.whl (47kB)
     |████████████████████████████████| 51kB 1.9MB/s eta 0:00:01
Installing collected packages: PyMySQL
Successfully installed PyMySQL-0.9.3

In [9]:
import pymysql
conn = pymysql.connect(host='database-1118.c1doesqrid0e.us-east-1.rds.amazonaws.com',
                       user='fis_student',
                       password='SuperSecurePassword',
                       db='survey')
# never put a password in a notebook and push to github. terrible practice.
c = conn.cursor()

In [6]:
c.execute('select * from responses')
columns = [x[0] for x in

AttributeError: 'int' object has no attribute 'description'

In [ ]:
columns

### Questions
1. What are the names of all of the students?
2. Which student has the most siblings?
3. How many students are only children?
4. Which 3 students have lived in NYC the shortest amount of time?
5. How many students are native New Yorkers?
6. Do any two students have the same favorite food?

1. What are the names of all of the students.

In [19]:
import pandas as pd

pd.read_sql('''
SELECT name
FROM responses
''', conn)

                name
0            Stephen
1            Donna C
2              Muoyo
3         Vyjayanthi
4       Anesu Masube
5   Michael Pallante
6      Stuart Murphy
7      Darian Madere
8               Alex
9      Justin Fleury
10           Nate Lu
11              Nick
12          Jeff Lin
13             Chuck
14       Jill Carrie
15              Alex
16              Nimu

2. Which student has the most siblings?

In [29]:
pd.read_sql("""
SELECT name, siblings_count
FROM responses
WHERE cast(siblings_count as UNSIGNED)
= (SELECT max(cast(siblings_count as UNSIGNED) FROM responses)
""", conn)

DatabaseError: Execution failed on sql '
SELECT name, siblings_count
FROM responses
WHERE cast(siblings_count as UNSIGNED)
= (SELECT max(cast(siblings_count as UNSIGNED) FROM responses)
': (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'FROM responses)' at line 4")

3. How many students are only children?

In [28]:
pd.read_sql("""
SELECT name FROM responses
WHERE siblings_count IN (0, '0', '0\r')
""", conn)

Empty DataFrame
Columns: [name]
Index: []

In [30]:
# any students with same fav food?
pd.read_sql("""
SELECT fav_food_1, count(*) as student_count 
FROM responses
GROUP BY lower(fav_food_1)
HAVING count(*) > 1
""", conn)

  fav_food_1  student_count
0      pizza              2

4. Which 3 students have lived in NYC the shortest amount of time? (How long has each lived in NYC?)

In [ ]:
c.execute('''
-- YOUR CODE HERE
''').fetchall()

5. How many students are native New Yorkers?

In [ ]:
c.execute('''
-- YOUR CODE HERE
''').fetchall()

6. Do any two students have the same favorite food?

This problem employs the `Having` clause.  Be sure to review the difference between the where and having clause here. (Where filters apply before the group by clause and conditions following the having clause are filters applied after the group by on the resulting aggregate [statistics].) A useful example in doing so, could be to modify the question to something with an additional filtering criterion such as 'do any native new yorkers have the same favorite food?' This would force students to use a where clause prior to the group by to filter the results. Alternatively, see the question below for an alternative but related problem on favorite foods.

In [ ]:
c.execute("""SELECT favorite_food, count(favorite_food)
FROM students
GROUP BY favorite_food
HAVING count(favorite_food) > 1
""").fetchall()

## More Questions

What are the favorite foods of this classroom?

In [ ]:
c.execute("""
-- YOUR CODE HERE
""").fetchall()

Which student was born closest to the cohort's graduation date (3/6/20)?

In [ ]:
c.execute('''
-- YOUR CODE HERE
''').fetchall()